node_modules/
dist/
builds/
coverage/
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
MulanMoonlang/
workspace/
sfa*/
system_runs/
*.log

engine/node_modules/
engine/build/
engine/examples/assets/
editor/node_modules/
editor/dist/
editor/test-suite/node_modules/
editor/test-suite/dist/
